

.container-fluid {
  background: grey;
}

.title {
  padding: 50px;
}

canvas {
  margin-top: 50px;
  margin-bottom: 150px;
}

.btn {
  width: 50px;
  margin-top: 50px;
  margin-bottom: 50px;

}
.Amy {
  padding-top: 7em;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
