
.container-fluid {
 background: grey;
}

.title {
  padding: 50px;
}

canvas {
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn {
  width: 50px;
  margin-top: 50px;
  margin-bottom: 50px;

}
.Amy {
  padding-top: 5em;
}
a {
  color: darkgrey;
}
